services:
  postgres:
    image: postgres:latest@sha256:a688ae5c99f86c1424e046ace0de890608cc0ddb5ec8ef72a6ff8305fdc8f4d2
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: python sandbox/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    links:
      - postgres
    volumes:
      - .:/code
