services:
  postgres:
    image: postgres:latest@sha256:69e8582b781cb44fa4557b98ed586fe68361e320d9b12f9707494335634f4f3d
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: python sandbox/manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    links:
      - postgres
    volumes:
      - .:/code
